@page
@model olieblind.web.Pages.Events.MesoDetail
@{
    ViewData["Title"] = "Analysis";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/Events/Years">Years</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Events/AnnualOverview" asp-route-year="@Model.Year">@Model.Year</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Events/DailyOverview" asp-route-year="@Model.Year"
               asp-route-effectiveDate="@Model.EffectiveDate"
               asp-route-sourceFk="@Model.SourceFk">@Model.EffectiveDate</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Events/MesoList" asp-route-year="@Model.Year"
               asp-route-effectiveDate="@Model.EffectiveDate"
               asp-route-sourceFk="@Model.SourceFk">Mesoscale Discussions</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="#">MD @Model.MesoItem.Id</a>
        </li>
    </ol>
</nav>

<h2>Mesoscale Discussion @Model.MesoItem.Id</h2>
<img src="@Model.BlobBase/@Model.MesoItem.GraphicUrl" class="card-img-top" alt="Mesoscale Discussion @Model.MesoItem.Id">
<h4>MD @Model.MesoItem.Id - @($"{Model.MesoItem.EffectiveTime:hh:MM}")Z</h4>
<p>Affecting @Model.MesoItem.AreasAffected - @Model.MesoItem.Concerning</p>
@Html.Raw(Model.MesoItem.Narrative)

<p>Mesoscale Discussions are derived from "Archived Convective Products" (Storm Prediction Center).</p>
