@page
@model olieblind.web.Pages.Satellite.DailyRequest
@{
    ViewData["Title"] = "Analysis";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-page="/Events/Years">Years</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Events/AnnualOverview" asp-route-year="@Model.Year">@Model.Year</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Events/DailyOverview" asp-route-year="@Model.Year"
               asp-route-effectiveDate="@Model.EffectiveDate"
               asp-route-sourceFk="@Model.SourceFk">@Model.EffectiveDate</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-page="/Satellite/DailyList" asp-route-year="@Model.Year"
               asp-route-effectiveDate="@Model.EffectiveDate"
               asp-route-sourceFk="@Model.SourceFk">Visible Satellite</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <a href="#">Request Satellite Previews</a>
        </li>
    </ol>
</nav>

<h2>Request Satellite Previews</h2>

<p>Satellite image previews make it very convenient to select the best products for analysis. Request preview images for this date by clicking one of the buttons below.</p>

@if (Model.SatelliteRequestStatistics != null)
{
    <h4>Quota Status</h4>
    <p>Daily global and user quotas are implemented to control costs. If there are no remaining requests, try back in an hour or a day.</p>
    <p>Global Quota (All Users): @Model.GlobalQuota requests every @Model.HoursQuota hours (@(Model.GlobalQuota - Model.SatelliteRequestStatistics.GlobalRequests) requests remaining)</p>
    <p>Your Quota: @Model.UserQuota requests every @Model.HoursQuota hours (@(Model.UserQuota - Model.SatelliteRequestStatistics.UserRequests) requests remaining)</p>
    <h4>Queue Statistics</h4>
    <p>Requests are placed in a queue. All items in the queue must be processed before getting to your request. Processing time takes about one minute per item.</p>
    <p>Current Queue Length: @Model.SatelliteRequestStatistics.QueueLength requests</p>
}

<h4>Submit Request</h4>
<p>Request Satellite preview for: <b>@Model.EffectiveDate</b></p>

<form method="post">
    <button class="btn btn-outline-secondary" type="submit"
            asp-page-handler="hourly"
            asp-route-year="@Model.Year"
            asp-route-effectiveDate="@Model.EffectiveDate"
            asp-route-sourceFk="@Model.SourceFk">
        Create Hourly Previews
    </button>
</form>

<form method="post">
    <button class="btn btn-outline-secondary" type="submit"
            asp-page-handler="all"
            asp-route-year="@Model.Year"
            asp-route-effectiveDate="@Model.EffectiveDate"
            asp-route-sourceFk="@Model.SourceFk">
        Create Previews For ALL Available Images
    </button>
</form>

<br />
